.top_list {
    list-style: none;
    padding: 0;
}

.top_list li {
    margin-bottom: 0.5rem;
}

.top_list_item {
    display: grid;
    grid-template-columns: auto auto;
}


.left_section {
    display: flex;
    justify-content: center;
    align-items: baseline;
}